
<nav class="navbar page-header">
  <i class="fa fa-bars"></i>
<h1>BookiT </h1>
<img src="/assets/BookItLogo.png" class="img-responsive"alt="">
<button type="button" name="logout" ng-click="MController.logout()">logout</button>
</nav>

<section class="container">

<div class="box">
<h2>Your Bands</h2>
<div class="circle col-md-4"><h3 class="bandname"><a ui-sref="band">PHISH</a></h3 class="bandname"></div>
<div class="circle col-md-4"><h3 class="bandname"><a ui-sref="band">DEMPSEY</a></h3 class="bandname"></div>
<div class="circle col-md-4"><h3 class="plus"><a ui-sref="createband"> + </a></h3 class="bandname"></div>

</div>
</section>

<div class="footer">
  <h1>Contact</h1>
</div>
