<div class="sidepanel hidden">

  <ul>
    <div class="square"><li ui-sref="main.home">Your Bands <i class="fa fa-home"></i>
</li></div>
    <div class="square"><li  ui-sref="main.createband">Add Band <i class="fa fa-plus"></i></li></div>
    <div class="square"><li ui-sref="main.tour">Book Tour <i class="fa fa-car"></i></li></div>
    <div class="square"><li ui-sref="main.show">Book Show <i class="fa fa-calendar-o"></i>
</li></div>
    <div class="square"><li ng-click="MController.logout()">Logout</li></div>

  </ul>
</div>
