
<section class="loginbox">
<form>

<!-- <div class="box"> -->
    <h2>BookiT</h2>

    <div class="form-group">
      <input type="text" name="username" placeholder="username" class="form-control" id="exampleInputEmail1" required ng-model="user.username">
    </div>
      <div class="form-group">
    <input type="password" name="password"  class="form-control" id="exampleInputPassword1" placeholder="password" required ng-model="user.password">
    </div>
    <div class="form-group">
    <input type="submit" placeholder="login" class="form-control" name="login" class="submit btn btn-default" ng-click="LController.login(user)"></input>
    </div>
    <div class="form-group">
    <h5><a ui-sref="createuser">Create an account</a></h5>
    </div>

<!-- </div> -->

</form>
</section>
