



////////////////////////////////////////
@media(max-width:1200px){
    .navbar {
            h5 {
              color: white;
              border-bottom: 2px solid white;
            }
    }
}
////////////////////////////////////
@media (min-width:430px) and (max-width:750px){
.navbar {
  h5 {
      margin-left: 303px;
  }
}
}

///////////////////////////////////////////////

@media (max-width:430px) {

  .loginbox {
    width: 400px;
    margin-left: -20px;

  }
  .navbar {
    h5 {
      margin-left: 229px;
      color: white;
      border-bottom: 2px solid white;
    }
  }
  .box {

          .circle {

            width: 100px;
            height: 100px;
            margin-left: 120px;



                    .bandname {
                          font-size: 20px;
                          margin-top: 20px;
                        }

                  }

    .circle3 {
      margin-left: 120px;
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      h3 {

          font-size: 90px;
          margin-left: 15px;
          margin-top: -2px;

      }
    }
      }


.sidepanel {
  background-color: white;
  opacity: 1;
  z-index: 1;
  width: 50%;
      ul {
        width: 100%;
        z-index: 1;

          li {
            text-align: center;
          }
      }

}

.detailsbox {
  width: 317px;
}
.upcomingShow {
  width: 90%;
}
.bandbox {
  width: 340px;
}
.tourbox {
  width: 330px;
}
.submittour {
  margin-left: 95px;
}
.venueBlock {
  width: 300px;
}
.nothaCity {
  margin-left: 90px;
}
.calendar {
  width: 100%;
  margin: 20px 10px 10px 22px;
}
.calVen {
  width: 88%;
  margin-top: 30px;
}
.newuserform {
  width: 90%;
  .deleteuser {
    margin-left: 115px;
  }
  input, select {
    margin-left: 24px;
  }

}
.loginbox {

  input {
    width: 75%;
  }
}


} //end of media //////////////////////////////////
