
////////////////////////////////////// General tags ///////////////////////////////////////////////


body {
  font-family: 'Fjalla One';
 background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/testmusic.jpg);

 background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom center;
  background-attachment: fixed;


    h1, h5 {
        color: #ae535d;
    }

}




.box {
  margin-top: 100px;
  // border: 1px solid #cccccc;
  //  box-shadow: 5px 5px 5px #cccccc;
  // border-radius: 5px;
  height: 400px;
  // background-color: white;
  margin-bottom: 100px;
            li {
              list-style-type: none;
            }
          h1 {
            font-size: 40px;

          }
          h2 {
            text-align: center;
            color: white;

          }

  .circle {
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 100px;
    border: 4px solid white;
    background-image: url(/assets/testpic.jpg);
    display: inline-block;
    margin-left: 136px;


            .bandname {
              margin-top: 66px;
              text-align: center;
              font-size: 30px;

              a {
                color: white;
                text-align: center;
                text-decoration: none;
                      &:hover {
                        color: #ae535d;
                      }
              }

            }


  }
}

.circle3 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid white;
  // background-image: url(/assets/testpic.jpg);
  display: inline-block;
  margin-left: 136px;
  background-color: white;

    a {
      color: black;
      text-decoration: none;
      font-size: 132px;
      margin-left: 55px;
      margin-top: 90px;

                  &:hover {
                    color: #ae535d;
                  }
    }


}


//////////////////////////////////////SidePanel////////////////////////////////////////////////////





.sidepanel {
        left: -200px;
        -webkit-animation: slide 0.5s forwards;
        animation: slide 0.5s forwards;

        @-webkit-keyframes slide {
            100% { left: 0; }
        }

        @keyframes slide {
            100% { left: 0; }
        }
  background-color: white;
  width: 150px;
  height: 809px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  position: absolute;
  opacity: .7;
      i {
        margin-left: 5px;
      }

    div {
            &:hover {
              border: 1px solid #cccccc;
            }
    }

    ul {
      margin: 0;
      padding: 0;

            li {
              list-style-type: none;
              line-height: 50px;
              font-size: 18px;
              margin-top: 20px;
              margin-left: 25px;
                    &:hover {
                      color: #ae535d;
                    }
            }
    }

}

////////////////////////////////////// Landing Page ///////////////////////////////////////////////
.navbar {
  width: 100%;
  background-color: white;
   height: 100px;
   margin: 0;
   border-radius: 0;
    // z-index: -1;


      h1 {
        font-size: 50px;
        margin-left: 50px;
        display: inline-block;

      }
      img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        margin-left: 10px;
        display: inline-block;

      }
      a {
        text-decoration: none;
        color: black;
        color: #ae535d;

      }
      i {
        margin-left: 30px;
        font-size: 20px;

      }
}
.footer {
  width: 100%;
  // box-shadow: 5px 5px 5px 5px #cccccc;
  height: 100px;
  background-color: white;
  margin-top: 200px;

  h1 {
    color: black;
    font-size: 20px;
    padding: 10px;
  }
}
.logout {
  margin-left: 850px;
}

////////////////////////////////////// Login Page ///////////////////////////////////////////////


.loginbox {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  // background-color: white;
  border-radius: 5px;


    input {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    button {
      margin-left: 250px;
      width: 100px;
    }
    h2 {
      text-align: center;
      color: white;
    }
          h5  {
            text-align: center;


                  a {
                  text-decoration: none;
                  color: white;

                }
          }
}

.newuserform{
  border: 1px solid #cccccc;
  //  box-shadow: 5px 5px 5px #cccccc;
   border-radius: 5px;
  width: 50%;
  background-color: white;
  margin: 50px auto;

  input, select{
   width: 75%;
   margin: 20px;
   margin-left: 58px;
 }

 li {
   list-style-type: none;
 }
 a {
   margin-left: -35px;
   color: gray;
 }
 p {
   margin: 33px 0 10px;
 }

}

.createuserheader {
  text-align: center;
  margin-top: 100px;
  color: white;
}


////////////////////////////////////// Band page ///////////////////////////////////////////////

.bandbox {
  border: 1px solid #cccccc;
  border-radius: 5px;
  //  box-shadow: 5px 5px 5px #cccccc;
    width: 900px;
  margin: 50px auto;
  background-color: white;

    h2 {
      text-align: center;
      font-size: 50px;
    }

}

.addbandform {
  width: 75%;
  margin: 30px auto
}

.detailsbox{
  border: 1px solid #cccccc;
  border-radius: 5px;
  //  box-shadow: 5px 10px 10px #cccccc;
    width: 900px;
  margin: 50px auto;
  background-color: white;

  padding: 30px;
    h2 {
      text-align: center;
      font-size: 50px;
      color: black;
    }

    h1 {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      color: black;
    }
    h3 {
      color: black;
    }
    p {
      color: black;
    }

}

.pic {
  margin-top: 100px;

      img {
        border: 4px solid white;
         width: 200px;
         height: 200px;
      }
}

/////////////////////////////////////// Update Band ///////////////////////////////////
.updateBand {
  input {
    display: block;
    width: 400px;
    font-size: 20px;
    margin: 5px auto;
  }
  margin: 20px auto;
  width: 400px;
  #state {
    width: 400px;
    font-size: 20px;
  }
}

////////////////////////////////////// Tour page ///////////////////////////////////////////////







////////////////////////////////////// Show page ///////////////////////////////////////////////
