
////////////////////////////////////// General tags ///////////////////////////////////////////////


body {
  font-family: 'Fjalla One';
 background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/testmusic.jpg);
 background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom center;
  background-attachment: fixed;


    h1, h5 {
        color: #ae535d;
    }

}






.yourbands {
  h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.box {
  // border: 2px solid white;
  // margin-top: 110px;
  height: 500px;
  margin-bottom: 100px;
  overflow:scroll;

            li {
              list-style-type: none;
            }
          h1 {
            font-size: 40px;

          }
          h2 {
            text-align: center;
            color: white;
            font-size: 40px;

          }

  .circle {
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 100px;
    border: 4px solid white;
    background-image: url(/assets/testpic.jpg);
    display: inline-block;
    margin-left: 136px;
    box-shadow: 2px 2px 4px black;


            .bandname {
              margin-top: 66px;
              text-align: center;
              font-size: 30px;
              color: white;
              text-shadow: 5px 5px 5px black;
              a {
                color: white;
                text-align: center;
                text-decoration: none;
                      &:hover {
                        color: #ae535d;
                      }
              }

            }


  }
}

.circle3 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid white;
  // background-image: url(/assets/testpic.jpg);
  display: inline-block;
  margin-left: 136px;
  background-color: white;
  box-shadow: 2px 2px 4px black;

    h3{
      color: black;
      text-decoration: none;
      font-size: 132px;
      margin-left: 55px;
      margin-top: 25px;

                  &:hover {
                    color: #ae535d;
                  }
    }


}


//////////////////////////////////////SidePanel////////////////////////////////////////////////////



.sidepanel {
        left: -200px;
        -webkit-animation: slide 0.5s forwards;
        animation: slide 0.5s forwards;

        @-webkit-keyframes slide {
            100% { left: 0; }
        }

        @keyframes slide {
            100% { left: 0; }
        }
  background-color: white;
  width: 140px;
  height: 1000px;
  // height: inherit;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  position: absolute;
  opacity: .7;
  box-shadow: 2px 4px 4px black;

                h5  {  //choose band
                  color: white;
                  text-align: center;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  font-size: 18px;
                  border-bottom: 1px solid white;


                }




                i {
                  margin-left: 5px;
                }

              div {
                  width: 100%;
                  margin: 0;
                      &:hover {
                        border-top: 1px solid #cccccc;
                        border-bottom: 1px solid #cccccc;

                      }
              }

              ul {
                margin: 0;
                padding: 0;
                      li {
                        list-style-type: none;
                        line-height: 50px;
                        font-size: 18px;
                        margin-top: 20px;
                        margin-left: 8px;
                        padding: 10px;

                              &:hover {
                                color: #ae535d;
                              }
                      }
    }

}

.dropdown {
    background-color: black;
    opacity: .7;
    color: white;
    overflow: scroll;
    height: 234px;



        .dropbox {
          text-align: center;
          margin-top: 0;
          padding: 0;
          margin-left: 8px;
          // display: inline-block;
        }
}
.scroll {
  overflow: scroll;
}


////////////////////////////////////// Landing Page ///////////////////////////////////////////////
.navbar {
  width: 100%;
  background-color: white;
  opacity: .7;
   height: 100px;
   margin: 0;
   border-radius: 0;


    // z-index: -1;


      h1 {
        font-size: 50px;
        margin-left: 50px;
        display: inline-block;

      }
      img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        margin-left: 10px;
        display: inline-block;

      }
      a {
        text-decoration: none;
        color: black;
        color: #ae535d;

      }
      i {
        margin-left: 30px;
        font-size: 20px;

      }
      h5 {
        color: #ae535d;
        margin-left: 750px;
        display: inline-block;
        border-bottom: 1px solid #ae535d;
        font-size: 16px;

      }
}
// .footer {
//   width: 100%;
//   position: absolute;
//   // box-shadow: 5px 5px 5px 5px #cccccc;
//   // height: 200px;
//   background-color: white;
//   margin-top: 100px;
//
//   h1 {
//     color: black;
//     font-size: 20px;
//     padding: 10px;
//   }
// }
.logout {
  margin-left: 850px;
}

////////////////////////////////////// Login Page ///////////////////////////////////////////////


.loginbox {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  // background-color: white;
  border-radius: 5px;



    input {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 2px 2px 4px black;

    }
    button {
      margin-left: 250px;
      width: 100px;
    }
    h2 {
      text-align: center;
      color: white;
      font-size: 50px;
    }
          h5  {
            text-align: center;
            font-size: 18px;

                  a {
                  text-decoration: none;
                  color: white;

                }
          }
}

.newuserform{

    opacity: .9;
  border: 1px solid #cccccc;
  //  box-shadow: 5px 5px 5px #cccccc;
   border-radius: 5px;
  width: 50%;
  background-color: white;
  margin: 50px auto;
  box-shadow: 2px 4px 4px black;

  input, select{
   width: 75%;
   margin-top: 20px;
   margin-left: 58px;




 }
 option {
   color: #cccccc;
 }

 li {
   list-style-type: none;
 }
 a {
   margin-left: -35px;
   color: gray;
 }
 p {
   margin: 33px 0 10px;
   text-align: center;
 }

}

.createuserheader {
  text-align: center;
  margin-top: 100px;
  color: white;
}

.deleteuser {
  margin-left: 275px;
  margin-bottom: 20px;
}
////////////////////////////////////// Band page ///////////////////////////////////////////////

.bandbox {
    opacity: .9;
  border: 1px solid #cccccc;
  border-radius: 5px;
  //  box-shadow: 5px 5px 5px #cccccc;
    // width: 900px;
    width: 77%;
    z-index: -1;
  margin: 130px auto;
  background-color: white;
  box-shadow: 2px 2px 4px black;

    h2 {
      text-align: center;
      font-size: 40px;
      margin-top: 55px;
    }

}

.addbandform {
  width: 75%;
  margin: 30px auto;
        // .date {
        //     display: inline-block;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
}

.detailsbox{
  border: 1px solid #cccccc;
  border-radius: 5px;
  opacity: .9;
  //  box-shadow: 5px 10px 10px #cccccc;
    width: 77%;
  margin: 50px auto;
  background-color: white;
  box-shadow: 2px 2px 4px black;

  padding: 30px;
    h2 {
      text-align: center;
      font-size: 50px;
      color: black;
    }

    h1 {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      color: black;
    }
    h3 {
      color: black;
      text-align: center;
    }
    p {
      color: black;
      text-align: center;

    }


}

.pic {
  margin-top: 50px;

      img {
        border: 4px solid white;
         width: 200px;
         height: 200px;
         box-shadow: 2px 2px 4px black;

      }
}

.upcomingShow {
  margin: 0px auto 50px;
  background-color: white;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;

  .showsglogo {
      display: inline-block;
      width: 25%;
      float: right;
      margin-top: -67px;

         img {
           width: 20%;
           margin-left: 43px;
         }
         h6 {
           font-size: 10px;
           margin-left: 15px;
         }
  }
}
/////////////////////////////////////// Update Band ///////////////////////////////////

  .updateBand {
  height: auto;
        input {
          display: block;
          width: 400px;
          // font-size: 20px;
          margin: 5px auto;
        }
  margin: 70px auto;
  width: 400px;
        #state {
          width: 400px;
          // font-size: 20px;
        }
}


.delete {
  margin-left: 260px;
}

.confirm {
      p {
        text-align: center;
      }
      button {
        margin-left: 90px;
      }
}

.updateBand {
      .tourform {
        width: 100%;
      }

}

.deleteband {
  margin-left: 155px;
}
////////////////////////////////////// Tour page ///////////////////////////////////////////////
.tourform {
  width: 75%;
  margin: 30px auto;

      .date {
          display: inline-block;

      }
      h6 {
        display: inline-block;
      }
      // .dates {
      //   margin-left: 160px;
      // }
}

.submittour {
  margin-left: 340px;

}

.tourbox {
    opacity: .9;
  border: 1px solid #cccccc;
  border-radius: 5px;
  //  box-shadow: 5px 5px 5px #cccccc;
    // width: 900px;
    width: 77%;
    height: 400px;
  margin: 130px auto 30px auto;
  background-color: white;
  box-shadow: 2px 2px 4px black;

    h2 {
      text-align: center;
      font-size: 40px;
      margin-top: 50px;
    }

}



////////////////////////////////////// Show page ///////////////////////////////////////////////

.venueBlock {
  margin: 10px auto;
  width: 900px;
  padding: 50px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px black;
    .vInfo {
      display: inline-block;
    }

    .sglogo {
        display: inline-block;
        width: 15%;
        float: right;
        margin-top: 50px;
           img {
             width: 20%;
             margin-left: 38px;
           }
           h6 {
             font-size: 10px;
             margin-left: 5px;
           }
    }
}

.nothaCity {
  width: 200px;
  margin-left: 550px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px black;

}

.showform  {
  input {
    margin-bottom: 20px;
  }
}
////////////////////////////////////// popup ////////////////////////////////////////////////////


.paywall {
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    position: absolute;
    display: inline-block;
    margin-left: -150px;
    margin-top: 100px;
    overflow: scroll;
}
.blur{
  -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);
}
.dayBlock {
  font-size: 20px;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  width: 14%;
  height: 130px;
  overflow: scroll;
  display: inline-block;
  box-shadow: 2px 2px 4px black;

  &:hover {
    background-color: #97565d;
    color: white;

  }
  h5 {
    color: white;
  }
}

.false {
  color: white;
  background-color: #4c5f76;
}

.calendar {
  width: 77%;
  margin: 20px 50px 20px 170px;
  display: inline-block;
}
.calsglogo {

      display: inline-block;
      width: 10%;
      float: right;
      background-color: white;
      height: 100px;
      border-radius: 5px;
      margin-left: 48px;
      margin-top: -151px;
      margin-right: 32px;

         img {
           width: 30%;
           margin-left: 34px;
          margin-top: 1px;
         }
         h6 {
           font-size: 12px;
           color: black;
           margin-left: 6px;
            padding: 5px;
             margin-top: 4px;
            text-align: center;

         }

}



.calVen {
  background-color: #fff;
  opacity: .7;
  width: 77%;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 99px;
}

.calMonth {
  vertical-align: middle;
  color: white;
    &:hover {
      color: #97565d;
      text-shadow: 1px 1px 2px black;

    }

}

.monthNav {
  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.previous, .next {
  margin-top: 10px;
  font-size: 25px;
  vertical-align: middle;
  border: none;
  background: transparentize(white, 1);;
  color: white;
  &:hover {
    color: #ae535d;
    text-shadow: 1px 1px 2px black;
  }
  &:focus {
    outline: none;
  }
}

#Sunday {

}
#Monday {
  margin-left: 14.20%;
}
#Tuesday {
  margin-left: 28.65%;
}
#Wednesday {
  margin-left: 42.95%;
}
#Thursday {
  margin-left: 57.25%;
}
#Friday {
  margin-left: 71.55%;
}
#Saturday {
  margin-left: 85.85%;
}
/////////////////////////////// 404 /////////////////////////////
.noVenues {
  text-shadow: 1px 1px 2px white;
}
