

////////////////////////////////////// General tags ///////////////////////////////////////////////


body {
  font-family: 'Fjalla One';
 background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/testmusic.jpg);
 background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom center;
  background-attachment: fixed;


    h1, h5 {
        color: #ae535d;
    }

}
.show {
  visibility:initial;
}
@-webkit-keyframes pop-in{
  0% {
    opacity:0;-webkit-transform:scale(.5)
  }100%{
    opacity:1;-webkit-transform:scale(1)}
  }

.slide{
  -webkit-animation:pop-in .3s;-moz-animation:pop-in .3s;-ms-animation:pop-in .3s
    }


.yourbands {
  h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.box {
  // border: 2px solid white;
  // margin-top: 110px;
  height: 500px;
  margin-bottom: 100px;
  overflow:scroll;

            li {
              list-style-type: none;
            }
          h1 {
            font-size: 40px;

          }
          h2 {
            text-align: center;
            color: white;
            font-size: 40px;

          }

  .circle {
    cursor: pointer;
    width: 200px;
    background-size: cover;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 100px;
    border: 4px solid white;
    display: inline-block;
    margin-left: 136px;
    box-shadow: 2px 2px 4px black;


            .bandname {
              margin-top: 66px;
              text-align: center;
              font-size: 30px;
              color: white;
              text-shadow: 2px 2px 3px black;
              a {
                color: white;
                text-align: center;
                text-decoration: none;
                      &:hover {
                        color: #ae535d;
                      }
              }

            }


  }
}

.circle3 {

  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid white;
  display: inline-block;
  margin-left: 136px;
  background-color: white;
  box-shadow: 2px 2px 4px black;

    h3{
      color: black;
      text-decoration: none;
      font-size: 132px;
      margin-left: 55px;
      margin-top: 25px;

                  &:hover {
                    color: #ae535d;
                  }
    }


}


//////////////////////////////////////SidePanel////////////////////////////////////////////////////


.slider {
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;

  @-webkit-keyframes slide {
      100% { left: 0; }
  }

  @keyframes slide {
      100% { left: 0; }
  }
}


.sidepanel {
  z-index: 1;
  left: -200px;
  background-color: white;
  width: 140px;
  height: 1000px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  position: absolute;
  box-shadow: 2px 4px 4px black;

                h5  {  //choose band
                  color: white;
                  text-align: center;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  font-size: 18px;
                  border-bottom: 1px solid white;


                }




                i {
                  margin-left: 5px;
                }

              div {
                  width: 100%;
                  margin: 0;
                  cursor: pointer;
                      &:hover {
                        border-top: 1px solid #cccccc;
                        border-bottom: 1px solid #cccccc;

                      }
              }

              ul {
                margin: 0;
                padding: 0;
                position: fixed;
                      li {
                        list-style-type: none;
                        line-height: 50px;
                        font-size: 18px;
                        margin-top: 20px;
                        margin-left: 8px;
                        padding: 10px;

                              &:hover {
                                color: #ae535d;
                              }
                      }
    }

}

.dropdown {
    background-color: black;
    opacity: .7;
    color: white;
    overflow: scroll;
    height: 234px;



        .dropbox {
          text-align: center;
          margin-top: 0;
          padding: 0;
          margin-left: 8px;
          // display: inline-block;
        }
}
.scroll {
  overflow: scroll;
}


////////////////////////////////////// Landing Page ///////////////////////////////////////////////
.navbar {
  width: 100%;
  background-color: white;
   height: 100px;
   margin: 0;
   border-radius: 0;



      h1 {
        font-size: 50px;
        margin-left: 50px;
        display: inline-block;

      }
      img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        margin-left: 10px;
        display: inline-block;

      }
      a {
        text-decoration: none;
        color: black;
        color: #ae535d;

      }
      i {
        margin-left: 30px;
        font-size: 20px;

      }
      h5 {
        color: #ae535d;
        margin-left: 750px;
        display: inline-block;
        border-bottom: 1px solid #ae535d;
        font-size: 16px;

      }
}
// .footer {
//   width: 100%;
//   position: absolute;
//   // box-shadow: 5px 5px 5px 5px #cccccc;
//   // height: 200px;
//   background-color: white;
//   margin-top: 100px;
//
//   h1 {
//     color: black;
//     font-size: 20px;
//     padding: 10px;
//   }
// }
.logout {
  margin-left: 850px;
}

////////////////////////////////////// Login Page ///////////////////////////////////////////////


.loginbox {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  // background-color: white;
  border-radius: 5px;



    input {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 2px 2px 4px black;

    }
    button {
      margin-left: 250px;
      width: 100px;
    }
    h2 {
      text-align: center;
      color: white;
      font-size: 50px;
    }
          h5  {
            text-align: center;
            font-size: 18px;

                  a {
                  text-decoration: none;
                  color: white;

                }
          }
}

.pwMatchErr {
  color: #991a1a;
  vertical-align: middle;
  margin: auto;
}

.noMatchy {
  border-color: #991a1a !important;
}

.newuserform{

    opacity: .9;
  border: 1px solid #cccccc;
   border-radius: 5px;
  width: 50%;
  background-color: white;
  margin: 50px auto;
  box-shadow: 2px 4px 4px black;

  input, select{
   width: 75%;
   margin-top: 20px;
   margin-left: 58px;




 }
 option {
   color: #cccccc;
 }

 li {
   list-style-type: none;
 }
 a {
   margin-left: -35px;
   color: gray;
 }
 p {
   margin: 33px 0 10px;
   text-align: center;
 }

}

.createuserheader {
  text-align: center;
  margin-top: 100px;
  color: white;
}

.deleteuser {
  margin-left: 275px;
  margin-bottom: 20px;
}
////////////////////////////////////// Band page ///////////////////////////////////////////////

.bandShows {
  width: 68%;
  margin: 0 auto;
  overflow: scroll;
  .banner {
    width: 80%;
    padding: 2px;
    margin: 0 auto 45px auto;
    text-align: center;
    background-color: rgba(#ffffff, 0.81);
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
        h3 {
          display: inline-block;
        }
  }
}

.bandbox {
    opacity: .9;
  border: 1px solid #cccccc;
  border-radius: 5px;
    width: 77%;
  margin: 130px auto;
  background-color: white;
  box-shadow: 2px 2px 4px black;

    h2 {
      text-align: center;
      font-size: 40px;
      margin-top: 55px;
    }

}

.addbandform {
  width: 75%;
  margin: 30px auto;

}

.detailsbox{
  border: 1px solid #cccccc;
  border-radius: 5px;
  opacity: .9;
    width: 77%;
  margin: 25px auto;
  background-color: white;
  box-shadow: 2px 2px 4px black;
  padding: 5px;

    h2 {
      text-align: center;
      font-size: 50px;
      color: black;
    }

    h1 {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      color: black;
    }
    h3 {
      color: black;
      text-align: center;
    }
    p {
      color: black;
      text-align: center;

    }



}

.pic {
  margin-top: 30px;
  margin-bottom: 30px;
      img {
        border: 4px solid white;
         width: 300px;
         height: 300px;
         box-shadow: 2px 2px 4px black;

      }
}
.bandpic {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  background-size: cover;
  border: 4px solid white;

}

#skl {
  width: 2%;
}

.showcontainer {
  overflow: scroll;
  height: 500px;
}
.upcomingShow {
  box-shadow: 2px 2px 4px black;
  background-color: #ae535d;
  opacity: .9;
  margin: 0px auto 50px;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  a {
    color: white;
  }
  li {
    color: white;
  }
  section {
    width: 50%;
    margin: 0 auto;
  }
  .confirmShow {
    margin-left: 22%;
  }

  h4 {
    font-size: 25px;
    color: white
  }
  h5 {
    text-align: center;
    color:white;
    font-size: 18px;
    text-shadow: 2px 2px 2px black;
  }

  .warningSection {
    border-radius: 10px;
    padding: 5px;
    margin: 5% auto;
    background-color: white;
    box-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
    color: black;
    font-size: 20px;
    text-align: center;
  }

  .cancelRem, .rem {
    width: 100%;

  }
  .rem {
    background-color:  #ae535d;
    color: white;
  }
  .cancelRem {
    color: black;
    background-color: #cccccc;

  }
  .showsglogo {
      display: inline-block;
      width: 5%;
  }
}

// upcoming show
.true {
  background-color: rgba(#4c6077, 0.87);
  color: white;
  box-shadow: 2px 2px 4px black;
  h5 {
    text-shadow: 1px 1px 2px black;
  }
  .trueanchor {
    color: white;
  }
}

.confirm {
  color: white;
  text-shadow: 2px 2px 2px black;

}

.pending {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.upcomingNav {
  li {
    display: inline-block;
    &:nth-child(2) {
      float: right;
      font-size: 20px;
      transition-duration: .2s;
      &:hover {
        color: #a24141;
        font-size: 25px;
        text-shadow: 1px 1px 2px black;
      }
    }
  }
}
/////////////////////////////////////// Update Band ///////////////////////////////////

  .updateBand {
  height: auto;
        input {
          display: block;
          width: 400px;
          // font-size: 20px;
          margin: 5px auto;
        }
  margin: 70px auto;
  width: 400px;
        #state {
          width: 400px;
          // font-size: 20px;
        }
}


.delete {
  margin-left: 260px;
}

.confirm {
      p {
        text-align: center;
      }
      button {
        margin-left: 90px;
      }
      i {
        color: rgb(183, 231, 61);

      }
}

.updateBand {
      .tourform {
        width: 100%;
      }

}

.deleteband {
  margin-left: 155px;
}
////////////////////////////////////// Tour page ///////////////////////////////////////////////
.tourform {
  width: 75%;
  margin: 30px auto;

      .date {
          display: inline-block;

      }
      h6 {
        display: inline-block;
      }
      // .dates {
      //   margin-left: 160px;
      // }
}

.submittour {
  margin-left: 340px;

}

.tourbox {
    opacity: .9;
  border: 1px solid #cccccc;
  border-radius: 5px;
    width: 77%;
  margin: 130px auto 30px auto;
  background-color: white;
  box-shadow: 2px 2px 4px black;

    h2 {
      text-align: center;
      font-size: 40px;
      margin-top: 50px;
    }

}



////////////////////////////////////// Show page ///////////////////////////////////////////////

.venueBlock {
  margin: 10px auto;
  width: 900px;
  padding: 50px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px black;
    .vInfo {
      display: inline-block;
    }

    .sglogo {
        display: inline-block;
        width: 15%;
        float: right;
        margin-top: 50px;
           img {
             width: 20%;
             margin-left: 38px;
           }
           h6 {
             font-size: 10px;
             margin-left: 5px;
           }
    }
}

.nothaCity {
  width: 200px;
  margin-left: 550px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px black;

}

.showform  {
  input {
    margin-bottom: 20px;
  }
}
////////////////////////////////////// popup ////////////////////////////////////////////////////


.paywall {
  z-index: 1;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    position: absolute;
    display: inline-block;
    margin-left: 400px;
    margin-top: -154px;
    overflow: scroll;
    .bookedshowinfo {
        padding: 10px;
        border-radius: 5px;
        color: black;
        font-size: 20px;
        width: 75%;
        margin-left: 25px;
        text-align: center;

    }
  p {
    text-align: center;
    padding: 0px 20px 0px 20px;
    margin-top: -39px;
        span {
          color: green;
        }
  }
  .x {
    margin: 10px;
    color: gray;
    border: 1px solid white;
  }
}
.wantdate {
  margin-left: 50px;
  margin-top: -106px;

}

.blur{
  -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);
}
.dayBlock {
  transition-duration: .5s;
  font-size: 20px;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  width: 14%;
  height: 70px;
  overflow: scroll;
  display: inline-block;
  box-shadow: 2px 2px 4px black;

  &:hover {
    background-color: #97565d;
    color: white;

  }
  h5 {
    color: white;
  }
}

.calendar {
  width: 77%;
  margin: 20px 50px 20px 170px;
  display: inline-block;
  .false {
    color: white;
    background-color: #4c5f76;
  }
}
.venDeets {
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  opacity: .8;
  margin-left: 0 auto;
  a {
    margin: 0 auto;
    color: black;
  }
}
#days {
  width: 100%;
  padding: 0;
  li {
    display: inline-block;
    width: 14%;
    text-align: center;
    font-size: 20px;
    color: white;
  }
}
.calsglogo {

      display: inline-block;
      width: 10%;
      float: right;
      // background-color: white;
      // height: 100px;
      // border-radius: 5px;
      margin-left: 48px;
      margin-top: -151px;
      margin-right: 32px;

         img {
           width: 30%;
           margin-left: 34px;
          margin-top: 1px;
         }
         h6 {
           font-size: 12px;
           color: black;
           margin-left: 31px;
            padding: 5px;
             margin-top: 84px;
             margin-bottom: 0px;
            text-align: center;

         }

}



.calVen {
  opacity: .7;
  width: 77%;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 99px;
}

.calMonth {
  vertical-align: middle;
  color: white;
    &:hover {
      color: #97565d;
      text-shadow: 1px 1px 2px black;

    }

}

.monthNav {
  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.previous, .next {
  margin-top: 10px;
  font-size: 25px;
  vertical-align: middle;
  border: none;
  background: transparentize(white, 1);;
  color: white;
  &:hover {
    color: #ae535d;
    text-shadow: 1px 1px 2px black;
  }
  &:focus {
    outline: none;
  }
}

#Sunday {

}
#Monday {
  margin-left: 14.20%;
}
#Tuesday {
  margin-left: 28.65%;
}
#Wednesday {
  margin-left: 42.95%;
}
#Thursday {
  margin-left: 57.25%;
}
#Friday {
  margin-left: 71.55%;
}
#Saturday {
  margin-left: 85.85%;
}


/////////////////////////////// 404 /////////////////////////////
.noVenues {
text-shadow: 2px 4px 2px black;
color: white;
font-size: 27px;
text-align: center;
margin-top: 150px;
line-height: 40px;
letter-spacing: 3px;
}
