body {
  font-family: 'Fjalla One';
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/testmusic.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom center;
  background-attachment: fixed; }
  body h1, body h5 {
    color: #ae535d; }

.box {
  margin-top: 100px;
  height: 400px;
  margin-bottom: 100px; }
  .box li {
    list-style-type: none; }
  .box h1 {
    font-size: 40px; }
  .box h2 {
    text-align: center;
    color: white; }
  .box .circle {
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 100px;
    border: 4px solid white;
    background-image: url(/assets/testpic.jpg);
    display: inline-block;
    margin-left: 136px; }
    .box .circle .bandname {
      margin-top: 66px;
      text-align: center;
      font-size: 30px; }
      .box .circle .bandname a {
        color: white;
        text-align: center;
        text-decoration: none; }
        .box .circle .bandname a:hover {
          color: #ae535d; }

.circle3 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid white;
  display: inline-block;
  margin-left: 136px;
  background-color: white; }
  .circle3 a {
    color: black;
    text-decoration: none;
    font-size: 132px;
    margin-left: 55px;
    margin-top: 90px; }
    .circle3 a:hover {
      color: #ae535d; }

.sidepanel {
  left: -200px;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  background-color: white;
  width: 150px;
  height: 809px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  position: absolute;
  opacity: .7; }

@-webkit-keyframes slide {
  100% {
    left: 0; } }

@keyframes slide {
  100% {
    left: 0; } }
  .sidepanel i {
    margin-left: 5px; }
  .sidepanel div:hover {
    border: 1px solid #cccccc; }
  .sidepanel ul {
    margin: 0;
    padding: 0; }
    .sidepanel ul li {
      list-style-type: none;
      line-height: 50px;
      font-size: 18px;
      margin-top: 20px;
      margin-left: 25px; }
      .sidepanel ul li:hover {
        color: #ae535d; }

.navbar {
  width: 100%;
  background-color: white;
  height: 100px;
  margin: 0;
  border-radius: 0; }
  .navbar h1 {
    font-size: 50px;
    margin-left: 50px;
    display: inline-block; }
  .navbar img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block; }
  .navbar a {
    text-decoration: none;
    color: black;
    color: #ae535d; }
  .navbar i {
    margin-left: 30px;
    font-size: 20px; }

.footer {
  width: 100%;
  height: 100px;
  background-color: white;
  margin-top: 200px; }
  .footer h1 {
    color: black;
    font-size: 20px;
    padding: 10px; }

.logout {
  margin-left: 850px; }

.loginbox {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  border-radius: 5px; }
  .loginbox input {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
  .loginbox button {
    margin-left: 250px;
    width: 100px; }
  .loginbox h2 {
    text-align: center;
    color: white; }
  .loginbox h5 {
    text-align: center; }
    .loginbox h5 a {
      text-decoration: none;
      color: white; }

.newuserform {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 50%;
  background-color: white;
  margin: 50px auto; }
  .newuserform input, .newuserform select {
    width: 75%;
    margin: 20px;
    margin-left: 58px; }
  .newuserform li {
    list-style-type: none; }
  .newuserform a {
    margin-left: -35px;
    color: gray; }
  .newuserform p {
    margin: 33px 0 10px; }

.createuserheader {
  text-align: center;
  margin-top: 100px;
  color: white; }

.bandbox {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 900px;
  margin: 50px auto;
  background-color: white; }
  .bandbox h2 {
    text-align: center;
    font-size: 50px; }

.addbandform {
  width: 75%;
  margin: 30px auto; }

.detailsbox {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 900px;
  margin: 50px auto;
  background-color: white;
  padding: 30px; }
  .detailsbox h2 {
    text-align: center;
    font-size: 50px;
    color: black; }
  .detailsbox h1 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: black; }
  .detailsbox h3 {
    color: black; }
  .detailsbox p {
    color: black; }

.pic {
  margin-top: 100px; }
  .pic img {
    border: 4px solid white;
    width: 200px;
    height: 200px; }

.updateBand {
  margin: 20px auto;
  width: 400px; }
  .updateBand input {
    display: block;
    width: 400px;
    font-size: 20px;
    margin: 5px auto; }
  .updateBand #state {
    width: 400px;
    font-size: 20px; }
