<div class="calendar" >
  <h2 class="calVen" ng-model="EController.venueName">Upcoming Events at {{venueName}}</h2>
  <ul class="monthNav">
    <li><button ng-click="EController.prevMonth()" type="button" class="previous"><i class="fa fa-arrow-circle-left"></i></button></li>
    <li><h1 class="calMonth" ng-model="EController.month">{{month}}</h1></li>
    <li><button ng-click="EController.nextMonth()" type="button" class="next"><i class="fa fa-arrow-circle-right"></i></button></li>
  </ul>

  <day-block ng-repeat="day in days" ng-init="check(day)">
<div ng-class ="{blur:isPaywall(0)}" class="calendar">
  <day-block ng-repeat="day in days" ></day-block>
</div>
