<div class="calendar">
  <section class="venDeets">
    <h2 class="calVen" ng-model="EController.venueName">Upcoming Events at {{venueName}}</h2>
    <div>{{venAddress}}   |   {{venPhon}}</div>
    <a target="_blank" href="{{venSite}}">{{venSite}}</a>
    <div class="calsglogo">
        <h6>Powered by Songkick</h6>
        <a href="http://www.songkick.com"><img src="assets/songkick.png" alt=""></a>
    </div>

  </section>
  <ul class="monthNav">
    <li><button ng-click="prevMonth()" type="button" class="previous"><i class="fa fa-arrow-circle-left"></i></button></li>
    <li><h1 class="calMonth" ng-model="EController.month">{{month}}</h1></li>
    <li><button ng-click="nextMonth()" type="button" class="next"><i class="fa fa-arrow-circle-right"></i></button></li>
  </ul>

<ul id="days">
  <li>S<span>unday</span></li>
  <li>M<span>onday</span></li>
  <li>T<span>uesday</span></li>
  <li>W<span>ednesday</span></li>
  <li>Th<span>ursday</span></li>
  <li>F<span>riday</span></li>
  <li>S<span>aturday</span></li>
</ul>
  <day-block ng-repeat="day in days" ng-init="check(day)"></day-block>
<div class="calendar">



</div>
</div>
