<div class="tourbox">
<h2>Book a Tour</h2>


<form class="tourform">

  <div class="form-group">
      <label>location</label>
      <input type="text" class="form-control" placeholder="City, State">
  </div>
<div class="dates">
  <div class="form-group date">
      <input type="date" class="form-control">
  </div>

  <h6>TO</h6>

  <div class="form-group date">
      <input type="date" class="form-control">
  </div>
</div>

<button class="submittour btn btn-default">Search</button>
</form>
</div>
