
<article class="venueBlock" >
  <div class="vInfo">
      <h3>{{venue.displayName}}</h3>
      <h5>{{venue.street}} {{venue.city.displayName}}, {{venue.city.state.displayName}}</h5>
      <button type="button" name="details" class="btn btn-default" ng-click="showDetails()">Details</button>
      <button type="button" name="book" class="btn btn-default" ng-click="viewSchedule(venue)">View Schedule</button>
  </div>
  
<div class="details" ng-show="details">
  <section>
    <h4>Contact</h4>
    <hr>
    <p>
      {{venue.phone}} <br />
      Capacity: {{venue.capacity}} <br />
      <a href="{{venue.website}}" target="_blank">website</a> <br />
      <a href="{{venue.uri}}" target="_blank">Songkick profile</a>
    </p>
  </section>
  <p>
    {{venue.description}}
  </p>
</div>

</article>
