
<div ui-view="bdside"></div>
<section class="container">
  <div class="pic">
  <img src="https://yaheardaustin.files.wordpress.com/2010/10/deertick1.jpg" alt="" class="img-circle img-responsive center-block">
  </div>

  <div class="detailsbox" >
    <h2 id="bandName">{{DController.band.name}}</h2>
<section class="info">
  <h3>City</h3>
  <p>{{DController.band.city}}, {{DController.band.state}}</p>
  <h3>Genre</h3>
  <p>{{DController.band.genre}}</p>

  <button class="edit btn btn-default" type="button" name="edit" ng-click="DController.goEdit(DController.Band)">edit band info</button>
  <button type="button" class="btn btn-default" ng-click="DController.goBookShow(DController.band)">Book Show</button>
  <hr>
  <h3>Upcoming Shows</h3>
  <!-- this is where a map might go -->

</div>

</section>


</section>
<upcoming-show ng-repeat="show in DController.shows"></upcoming-show>
