
<nav-bar ng-controller="MainController as MController"></nav-bar>

<section class="container">
  <div class="pic">
  <img src="http://www.placecage.com/200/200" alt="" class="img-circle img-responsive center-block">
  </div>
  <div class="detailsbox" >
      <h2 >{{DController.band.name}}</h2>
<section class="info">
<h3>BIO</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptate amet eos nesciunt, minima, maiores praesentium earum ipsum, dolorem laboriosam incidunt at velit nisi accusamus corporis omnis asperiores eum similique!</p>
</div>
</section>

</section>

<footer></footer>
