
<!-- <div ui-view="bandside"></div> -->

<div class="" ui-view="cbside"></div>
<div class="bandbox">
  <h2>Add a Band</h2>

<form class="addbandform">


  <div class="form-group">
    <label>Band Name</label>
    <input type="text" ng-model="newBand.name" name="name" class="form-control" placeholder="name">
  </div>
  <div class="form-group">
    <label>Current City</label>
    <input type="text" ng-model="newBand.location" name="location" class="form-control" placeholder="current city">
  </div>
  <div class="form-group">
    <label>Genre</label>
    <input type="text" ng-model="newBand.genre" name="genre" class="form-control" rows="3" placeholder="genre"></textarea>
  </div>
  <!-- <div class="form-group">
    <label for="exampleInputFile">Upload Image</label>
    <input ng-model="newBand.image" name="image" type="file">
  </div> -->

  <button type="submit" ng-click="BController.addband(newBand)" class="btn btn-default">Save Band</button>
</form>
</div>
