
<article class="upcomingShow">
  <ul class='upcomingNav'>
    <li><h4>{{show.venueName}}</h4></li>
    <li ng-click="showSettings()"><div><i class="fa fa-cog"></i></div></li>
  </ul>
  <section ng-show="settings">
    <button type="button" class="btn ok" ng-click="confirmShow(show)">Confirm Show</button>
    <button ng-show="remove" type="button" class="btn btn-danger" ng-click="dangerZone()">Remove Show</button>
    <div ng-show="danger">
      Are you sure you want to remove this show from your schedule? <br />
      <h6>Be sure to contact the venue for scheduling changes.</h6>
      <button type="button" class="btn btn-danger" ng-click="cancelShow(show)">Confirm</button>
      <button type="button" class="btn btn-default" ng-click="uncancel()">Cancel</button>
    </div>
  </section>

  <h5>{{show.date}}</h5>
  <ul>
    <li>{{show.venueAddress}}</li>
    <li>{{show.venuePhoneNum}}</li>
    <li>{{show.venueWebsite}}</li>
  </ul>

  <div class="showsglogo">
      <h6>Powered by Songkick</h6>
      <a href="http://www.songkick.com"><img src="assets/songkick.png" alt=""></a>
</div>

</article>
